/**
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Uncomment the following lines to enable the features you need.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 *
 * This setting specifies the UART device to be used for the console.
 *
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 */
#include "microkit.h"

#define MICROKIT_CONFIG_CONSOLE_USE_UART1 1
// #define MICROKIT_CONFIG_CONSOLE_USE_UART2 1
// #define MICROKIT_CONFIG_CONSOLE_USE_UART3 1
// #define MICROKIT_CONFIG_CONSOLE_USE_UART4 1
// #define MICROKIT_CONFIG_CONSOLE_USE_UART5 1
// #define MICROKIT_CONFIG_CONSOLE_USE_UART6 1
// #define MICROKIT_CONFIG_CONSOLE_USE_UART7 1
// #define MICROKIT_CONFIG_CONSOLE_USE_UART8 1